body{
    margin:0px;
    padding:0px;
    margin:0px;
    padding:0px;
    background:#212121;
    font-family: 'Montserrat';
    color:#fff;
}
.navbar-brand>img{
    width:50px;
    margin-top:-3px;
    
}
.header-serach{
    width:95%;
    position: relative; 
    border:2px solid blue;
}
.header-search>i{
    position: absolute;
    left:-100;
    font-size: 18px;
}

.default-color{
    margin-top:-15px;
}

.header-serach>input{
    background:#302f2f;
    border:0px;
    border-radius: 0px;
    display: block;
    width:95% !important;
    margin-left: 10px; 
}

.nav-item>a>img{
    width:35px;
}
.icons>a>i{
    font-size: 22px;
    margin-left: 10px;
    padding-top:3px;
}
.badge-danger{
    border-radius: 50%;
    width:17px;height:17px;
    position: relative;
    top:-32px;
    left:10px;
    font-size: 12px;
}

a.nav-link{
    padding-top:1.8em;
}

/* header for some resopnsive issues */
@media (max-width:900px){
    .default-color{
        margin-top:0px;
    }
    .badge-danger{
        border-radius: 50%;
        width:17px;height:17px;
        position: relative;
        top:-12px;
        left:-7px;
        font-size: 12px;
    }
    a.nav-link{
        padding-top:0em;
    }
    .icons>a>i{
        font-size: 22px;
        margin-left: 0px;
        padding-top:0px;
    }
}