@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.body{
    margin:0px;
    padding:0px;
    background:#212121;
    font-family: 'Montserrat';
    color:#fff;
    width: 100%;
    height: 100%;
    height: 100vh;


}
a{
    text-decoration: none;
    color:#fff;
}
a:hover{
    color:#fff;
}
.btn{
    border-radius: 0px;
}

img{
    width:100%;
    height: auto;
    border-radius: 10px;
}
.fixed-container{
    margin-top: 2em;
    margin-bottom: 2em;
    position: fixed;
    left: 8%;
    z-index: -1;
}
@media (max-width: 1024px){
.fixed-container{

    left: 3%;
}
}
@media (max-width: 450px){
.fixed-container{
    padding:1em; 
    left: 0.1%;
    left: 0.1%;
}
}
.card{
        border:0px;
        background: none;
}



@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}


/*footer section*/
footer{

    bottom: 2px;
    text-align: center;
    left:0px;right:0px;
    z-index: 99 !important;
}
ul>li{
    
    display: inline-block;
    text-align: center;
    padding: .2em;
    text-decoration-style: none;
}

ul>li>a{
    font-size: 12px;
}
@media (max-width: 768px){
footer{
    position: absolute;
    bottom: 2px;
    right: 20px;
    
}
}
@media (max-width: 600px){
footer{
    position: absolute;
    bottom: 2px;
    text-align: center;
    left:0px;right:20px;
    
}
}

/*login form*/
.all-top-form{
    background-color:#212121;
    padding: 2em;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;

}
@media (min-width:768px){
.all-top-form{
    background-color:#212121;
    padding: 2em ;
    margin-top: 10em;
    padding-top: 5em;
    padding-bottom: 5em;
    height: 65vh;

}
}
@media (min-width:1024px){
.all-top-form{
    background-color:#212121;
    padding: 2em ;
    margin-top: 20em;
    padding-top: 5em;
    padding-bottom: 2em;
    height: 50vh;

}
}
@media (min-width:1030px){
.all-top-form{
    background-color:#212121;
    padding: 2em 6em;
    margin: 2.5em 3em 0em 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    height:90vh;
}
}

@media (max-width: 600px){
.all-top-form{
    background-color:#212121;
    padding: 2em;
    margin-top: 2em;
    padding-top: 5em;
    padding-bottom: 2em;
    height: 100vh;

}
}
@media (max-width: 340px){
.all-top-form{
    background-color:#212121;
    padding: 1em;
    margin-top: 0em;
    padding-bottom: 2em;
    height: 100vh;

}
}
@media (max-width: 360px){
.all-top-form{
    background-color:#212121;
    padding: 1em;
    margin-top: 2em;
    padding-bottom: 2em;
    height: 100vh;

}
}
.all-top-form>img{
    width: 50px;height: 50px;
}
.all-top-form>h2{
    font-size:24px;
    font-weight: bold;
    margin-top: 10px; 
}
.form-control{
    background: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid grey;
}
.login_button{
    width: 100%;
    border:none;height: 35px;
    margin-top: 25px;
    border-radius:5px;
    background:#e60022;
    font-weight: bold;
    color:white;
    margin-bottom: 15px;
}
.or{
    font-size: 12px;
    color:gray;
    margin-bottom: 15px;
}
.facebook{
    background: #4267B2;
    border:none;
    border-radius: 3px;
    color:white;
    font-weight: bold;    
    width: 100%;
    height: 35px;
    margin-bottom: 8px;
    text-align: left;
}
.facebook>img{
    background: white;
    padding:2px;
    border-radius: 0px;
    width:25px;
    height:25px;
    margin-right: 8px;
}
.google{
    background: #4285F4;
    border:none;
    border-radius: 3px;
    color:white;
    font-weight: bold;    
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    text-align: left;
}
.google>img{
    background: white;
    padding:2px;
    border-radius: 0px;
    width:25px;
    height:25px;
    margin-right: 8px;
}
.under-form{
    margin-top: 15px;
}
.under-form>*{
    color:gray;
    font-size: 12px;
}

/* sign up  business account*/
@media (min-width:1030px){
    .business_account{
        padding: 0.7em 0em;
        margin:-3em 3em 0em 3em;
        background:white;
    }
}
@media (max-width:1030px){
    .business_account{
        padding: 0.7em 0em;
        margin:-3em 0em 0em 0em;
        background:white;
    }
}

.business_account>a{
    color:#000;
    font-size: 14px;
    font-weight: bold;
}